// @import 'variables.scss';
button {
    cursor: pointer;
}

.v-bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background: #ffffff;
    max-height: 4em;
    padding-left: 50px;
    padding-right: 50px;
    .material-icons {
        font-size: 32px;
        color: #3a3939;
    }
}

.modal-content {
    border-radius: 25px;
    max-width: 16em;
    border: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.modal-map {
    border-radius: 25px;
    border: 0;
    box-shadow: #26394d 0px 20px 30px -10px;
    padding: 5px;
    background-color: #ff9000;
}

.ymaps-2-1-79-map ymaps {
    border-radius: 20px;
}

.ymaps-2-1-79-balloon__content {
    height: 150px;
}

.yandex-balloon {
    height: 250px !important;
    padding: 5px !important;
}

.ymaps-2-1-79-gototech {
    display: none !important;
}

.shop-item {
    margin-top: 10px;
}

@media(min-width: 576px) {
    .yandex-balloon {
        height: 270px !important;
        width: 175px !important;
    }
}